<html>
  <head>
  </head>
  <body>
    <ul>
    {{range $key, $value := .users}}
      <li>
        {{$key}}:{{$value}}
        <form method="post" action="/{{$key}}/update">
          <input type="text" name="name" value="" />
          <input type="submit" value="更新" />
        </form>
        <form method="post" action="/{{$key}}/delete">
          <input type="submit" value="削除" />
        </form>
      </li>
    {{end}}
    </ul>
    <form method="post">
        <input type="text" name="name" value="" />
        <input type="submit" value="登録" />
    </form>
  </body>
</html>
